In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('ad_birth.csv')
countries = data["Country Name"].unique()
years = data.columns[4::]
years = years.astype(int)
minimum = years[0]
maximum = years[-1]
data.drop(data.columns[[0,1,2,3]], axis=1, inplace=True)
data = data.T
data = data.melt().drop('variable',axis=1).rename({'value':'Adolescent'},axis=1)
data
Country = np.repeat(countries,len(years))
data["Country"] = Country 
Year = np.tile(range(minimum, maximum+1,1),len(countries))
data["Year"] = Year
data = data[(data["Year"]>=1970)&(data["Year"]<=2020)]

In [3]:
OG = data.copy()

In [4]:
      def confounds(x):
        data = pd.read_csv(x)
        countries = data["Country Name"].unique()
        years = data.columns[4::]
        years = years.astype(int)
        minimum = years[0]
        maximum = years[-1]
        data.drop(data.columns[[0,1,2,3]], axis=1, inplace=True)
        data = data.T
        data = data.melt().drop('variable',axis=1).rename({'value':x},axis=1)
        Country = np.repeat(countries,len(years))
        data["Country"] = Country 
        Year = np.tile(range(minimum, maximum+1,1),len(countries))
        data["Year"] = Year
        data = data[(data["Year"]>=1970)&(data["Year"]<=2020)]
        added = pd.merge(OG,data, how="outer", left_on=["Country", "Year"],right_on=["Country", "Year"])
        return added

In [5]:
indicators = ["population.csv","female_education.csv", "gni per capita.csv", "total fertility rate.csv", "tertiary rate.csv","gov_expenditure.csv","Life_Expectancy.csv"]

for i in indicators:
    OG = confounds(i)

In [6]:
# done with 2014 bounds??? 

def convert(x):
    if x <=1035:
        return 1
    if (x>=1036 and x<= 4085):
        return 2
    if (x>=4086 and x <= 12615):
        return 3
    if x>= 12616:
        return 4
    
OG["Income level"] = OG["gni per capita.csv"].apply(convert)
OG["Adolescent"] = OG["Adolescent"]/1000
OG["Adult"] = OG["total fertility rate.csv"] - OG["Adolescent"]

In [7]:
OG.to_csv("ConfoundsRaw.csv",index=False)

In [8]:
OG.head()

,Adolescent,Country,Year,population.csv,female_education.csv,gni per capita.csv,total fertility rate.csv,tertiary rate.csv,gov_expenditure.csv,Life_Expectancy.csv,Income level,Adult
0,0.065789,Aruba,1970,59106.0,NaN,NaN,2.908,NaN,NaN,69.140,NaN,2.842211
1,0.062851,Aruba,1971,58816.0,NaN,NaN,2.788,NaN,NaN,69.498,NaN,2.725149
2,0.059913,Aruba,1972,58855.0,NaN,NaN,2.691,NaN,NaN,69.851,NaN,2.631087
3,0.059004,Aruba,1973,59365.0,NaN,NaN,2.613,NaN,NaN,70.191,NaN,2.553996
4,0.058096,Aruba,1974,60028.0,NaN,NaN,2.552,NaN,NaN,70.519,NaN,2.493904